---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import SignupForm from "@/components/forms/sign-up-form.tsx";
---
<Layout>
  <main class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
      <section class="w-full max-w-sm">
          <SignupForm client:visible />
      </section>
  </main>
</Layout>

